.kutum{
    border-style: solid;
    width: 900px;

}


body{
    background-color: burlywood;
}

.kutum2{
    border-style: solid;
    width: 900px;
    background-color: aquamarine;

}